# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node.js / npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# React
build/
dist/
*.log

# Tailwind CSS
tailwind.config.js
tailwind.config.cjs
tailwind.config.ts

# Misc
.env
.env.local
.env.*.local

# VSCode
.vscode/

# IDEs
.idea/
*.swp
*.swo
*.bak
*.tmp
*.orig